<a href="https://colab.research.google.com/github/thulasiramvarma/django/blob/master/Week4_Supervised_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 4

## Churn Prediction Analysis

In this assignment, we are going to predict customer churn for a telecom company using the K-Nearest Neighbor algorithm.

# Setup

Import python libraries

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

%matplotlib inline

In [0]:
from google.colab import files
uploaded = files.upload()                 # upload a file are data set to colabs

In [4]:
from google.colab import drive
drive.mount('/content/drive')           # mount the data in the google drive  to the colabs

KeyboardInterrupt: ignored

# Exercise 1

Load the csv file called 'Churn.csv' using pandas and assign it to a variable called df. (hint: pd.read_csv?) Look at the first 10 rows of the data set. (hint: df.head?)

In [6]:

df = pd.read_csv("Churn.csv")       # read data set using pandas
print(df.head(10))                  # display first 10 rows in the data set

   intl_plan  voice_mail_plan  ...  number_customer_service_calls  churned
0        0.0              1.0  ...                            1.0    False
1        0.0              1.0  ...                            1.0    False
2        0.0              0.0  ...                            0.0    False
3        1.0              0.0  ...                            2.0    False
4        1.0              0.0  ...                            3.0    False
5        1.0              0.0  ...                            0.0    False
6        0.0              NaN  ...                            3.0    False
7        1.0              0.0  ...                            0.0    False
8        0.0              0.0  ...                            1.0    False
9        1.0              1.0  ...                            NaN    False

[10 rows x 17 columns]

# Exercise 2: 

Which column indicates whether the user has churned? How many users are there in your dataset? (hint: len?)

In [7]:
col=list(df.columns)                      # read first column in the data set as a list
index_churned = col.index('churned')      # index all the column names and find their position
df_len=len(df)
print(index_churned)            
print(len(col))
print(df_len)                           # length of data set

16
17
5000

# Exercise 3:

Use df.describe() to explore each column. Why is the count different for each column and not equal to 5000?

In [8]:
explore = df.describe()                       # give important parameters like mean max,min
print(explore)

         intl_plan  ...  number_customer_service_calls
count  4815.000000  ...                    4593.000000
mean      0.095119  ...                       1.568909
std       0.293410  ...                       1.303008
min       0.000000  ...                       0.000000
25%       0.000000  ...                       1.000000
50%       0.000000  ...                       1.000000
75%       0.000000  ...                       2.000000
max       1.000000  ...                       9.000000

[8 rows x 16 columns]

# Exercise 4: 

Fill the missing numbers with the median of the whole dataset! (hint: df.fillna?) Check to see if the counts for all columns is now 5000.

In [9]:

df_median=df.median()                          # fing median individual column 
print(df_median)
df=df.fillna(value=df_median)              # filling the NAN (not a number) cell with meadian of corresponding column
df.describe()                              # count equal to 5000

intl_plan                          0.00
voice_mail_plan                    0.00
number_vmail_messages              0.00
total_day_minutes                180.10
total_day_calls                  100.00
total_day_charge                  30.67
total_eve_minutes                201.00
total_eve_calls                  101.00
total_eve_charge                  17.06
total_night_minutes              200.30
total_night_calls                100.00
total_night_charge                 9.02
total_intl_minutes                10.30
total_intl_calls                   4.00
total_intl_charge                  2.78
number_customer_service_calls      1.00
churned                            0.00
dtype: float64

         intl_plan  ...  number_customer_service_calls
count  5000.000000  ...                    5000.000000
mean      0.091600  ...                       1.522600
std       0.288489  ...                       1.258494
min       0.000000  ...                       0.000000
25%       0.000000  ...                       1.000000
50%       0.000000  ...                       1.000000
75%       0.000000  ...                       2.000000
max       1.000000  ...                       9.000000

[8 rows x 16 columns]

# Exercise 5:

Separate the data into the features and labels. Assign the features to variable X and labels to variable y.

In [23]:
X = df.drop('churned', 1)
y = df['churned']
print(X)
print(y)

      intl_plan  ...  number_customer_service_calls
                 ...
0           0.0  ...                            1.0
1           0.0  ...                            1.0
2           0.0  ...                            0.0
3           1.0  ...                            2.0
4           1.0  ...                            3.0
...         ...  ...                            ...
4995        0.0  ...                            2.0
4996        0.0  ...                            3.0
4997        0.0  ...                            1.0
4998        0.0  ...                            0.0
4999        0.0  ...                            0.0

[5000 rows x 16 columns]

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996     True
4997    False
4998    False
4999    False
Name: churned, Length: 5000, dtype: bool

# Exercise 6: 

Split the data into 70% training set and 30% test set and assign them to variables named X_train, X_test, y_train, y_test (hint: train_test_split?)

In [31]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.3)
print(len(y_train))

3500

# Exercise 7: 

Create a N-Nearest Neighbors classifier of 5 neighbors. (hint: KNeighborsClassifier?)

In [0]:
knn = KNeighborsClassifier(n_neighbors=5)

# Exercise 8:

Fit the model to the training set. (hint: knn.fit?)

In [48]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

# Exercise 9:

Use the model to make a prediction on the test set. Assign the prediction to a variable named y_pred

In [0]:
y_pred = knn.predict(X_test)

# Exercise 10:

Determine how accurate your model is at making predictions. (hint: accuracy_score?)

In [50]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8826666666666667

# Exercise 11 (Optional)

Try different number of k neighbors between 1 and 10 and see if you find a better result